# dependencies
/node_modules

# next.js
/.next
/.next-azure
/out

# production
/build
/.azure_deploy_artifact
ic2-clients-app-deploy.local.zip

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env files
.env*

# typescript
*.tsbuildinfo
next-env.d.ts
